<template>
    <MDBNavbar light  expand="lg" container class="navbar">
      <MDBNavbarBrand href="/" class="logo-container">
      <img
        src="/logo.png"
        height="40"
        alt=""
        class="img"
      />
      <h1>Markdownify</h1>
      </MDBNavbarBrand>
      <MDBNavbarNav collapse="navbarNav">
        <MDBNavbarItem  v-if="isLogged"  to="/profil" active> 
            <div class="items">
                My Profil 
            </div>
        </MDBNavbarItem>
        <MDBNavbarItem  v-else to="/login" active> 
            <div class="items">
                Login / Register
            </div>
        </MDBNavbarItem>
      </MDBNavbarNav>
    </MDBNavbar>
  </template>

  <script>
    export default {
  name: "SubMenNau",
  props: {
    isLogged: Boolean,
  }
}
</script>


<script setup>
  import {
    MDBNavbar,
    MDBNavbarToggler,
    MDBNavbarBrand,
    MDBNavbarNav,
    MDBNavbarItem,
    MDBDropdown,
    MDBDropdownToggle,
    MDBDropdownMenu,
    MDBDropdownItem,
  } from 'mdb-vue-ui-kit';
</script>

<style scoped>
    .navbar {
        background-color: #3f3757;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-container h1{
        color: white;
        font-size: 1.5rem;
        font-weight: 100;
        margin-left: 10%;
    }

    .items {
        color: white;
        font-size: 1.2rem;
        font-weight: 100;
    }
</style>


