<template>
  <div>
      <NavBar :isLogged="isLogged"/>
      <div class="container">
    <h1>Hello {{ username }} start Markdownify your logs 🙃 </h1>
    <div class="box">
      <div class="card">
        <i class="fas fa-cloud-upload-alt fa-3x"></i>
        <h2>
          Upload your log file
        </h2>
        <p>how to uplaod an log file</p>
      </div>
        <div class="card">
          <i class="fas fa-glasses fa-3x"></i>
        <h2>
          Read and modify your markdown file
        </h2>
        <p>explain the advantage to modify your markdown file</p>
      </div>
        <div class="card">
          <i class="fas fa-file-download fa-3x"></i>
        <h2>
          Download your markdown file
        </h2>
        <p>how to download and give use it </p>
      </div>
    </div>
    <div class="uploader">
      <input type="file" accept=".txt" ref="file" @change="handleFileUpload">
      <p v-if="error" class="alert"> {{ error }}</p>
      <p v-else>Drag your files here or click in this area.</p>
    </div>
    <button class="btn_uploader" type="submit" @click='downloadFile'>Upload</button>
  </div>
      <router-view />
  </div>
</template>

<script>
  console.log("Hello from HomeView");
  import NavBar from '@/components/NavBar.vue'
  import store  from "@/store/index.js"


  store.dispatch('getUserInfo');
  

  export default {
    name: 'HomeView',
    components: {
      NavBar,
    },
    data(){
      return {
        isLogged : localStorage.getItem('token') !== null,
        username : store.state.username,
        error : null,
      }
    },
    methods:{
      async handleFileUpload(event) {
        console.log('File uploaded');
        if (localStorage.getItem('token') == null) {
          this.error = "You need to be logged in to upload a file";
          console.log("You need to be logged in to upload a file");
          return;
        }
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append('file', file);

    try {
      // Send the file to the API for processing
      const response = await axios.post('https://automdapi.arpanode.fr/generate_markdown', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      });

      // Handle the response from the API
      if (response.data.success) {
        // File processing was successful
        const downloadUrl = response.data.downloadUrl;
        // Perform file download using the downloadUrl
        this.downloadFile(downloadUrl);
      } else {
        // File processing failed
        console.error('File processing failed');
      }
    } catch (error) {
      console.error('Error uploading file:', error);
    }
  },

  downloadFile(downloadUrl) {
    console.log('Downloading file:', downloadUrl);
    // Perform file download using the downloadUrl
    const link = document.createElement('a');
    link.href = downloadUrl;
    link.download = 'processed-file.txt';
    link.target = '_blank';
    link.click();
  }
    }
  }
</script>

<style scoped>
    .container h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      margin-top: 10%;
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;

    }

    .card {
        justify-content: center;
        align-items: center;
        width: 25%;
        margin: 2%;
        padding: 2%;
    }

    .card h2 {
        margin-top: 5%;
        text-align: center;
        font-size: 1rem;
        font-weight: 200;
    }

    .card p {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 100;
    }
    

  .uploader{
    margin: 5% 25% 0 25%;
    height: 170px;
    border: 4px dashed #3f3757;
  }
  .uploader p{
    text-align: center;
    color: #3f3757;
    font-family: Arial;
  }
  .uploader input{
    height: 45%;
    outline: none;
    opacity: 0;
  }
  .btn_uploader{
    margin: 5% 25% 0 25%;
    padding: 1% 0 1% 0;
    width: 50%;
    color: #fff;
    background: #3f3757;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  .alert{
  line-height: 1.8;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
  }

</style>



