<template>
  <div>
      <NavBar  :isLogged="isLogged"/>
      <div class="container">
    <MDBTabs v-model="form7ActiveTab">
      <!-- Tabs navs -->
      <MDBTabNav color="warning" pills justify tabsClasses="mb-3">
        <MDBTabItem tabId="form7-login" href="form7-login" active style="background-color: #e09d51; color: white;"
          >Login</MDBTabItem
        >
        <MDBTabItem tabId="form7-register" href="form7-register" style="color: #e09d51;"
          >Register</MDBTabItem
        >
      </MDBTabNav>
      <!-- Tabs navs -->
      <!-- Tabs content -->
      <MDBTabContent>
        <MDBTabPane tabId="form7-login">
          <div class="alert" v-if="errorLogin"> {{ errorLogin }}</div>
          <form>
          <!-- Email input -->
            <MDBInput
              type="text"
              label="Username"
              id="form7LoginUsername"
              v-model="form7LoginUsername"
              wrapperClass="mb-4"
              style="margin-top: 10%;"
            />

            <!-- Password input -->
            <MDBInput
              type="password"
              label="Password"
              id="form7LoginPassword"
              v-model="form7LoginPassword"
              wrapperClass="mb-4"
            />

            <!-- Submit button -->
            <button type="button" @click='log'  class="btn" > Sign in </button>

            <!-- Register buttons -->
            <div class="text-center">
              <p >Not a member? <a style="color: #e09d51" href="form7-register">Register</a></p>
            </div>
          </form>
        </MDBTabPane>


        <MDBTabPane tabId="form7-register">
          <form>
            <div class="alert" v-if="errorRegister"> {{ errorRegister }}</div>
            <!-- Username input -->
            <MDBInput
              type="text"
              label="Username"
              id="form7RegisterUsername"
              v-model="form7RegisterUsername"
              wrapperClass="mb-4"
            />
            <!-- Email input -->
            <MDBInput
              type="email"
              label="Email"
              id="form7RegisterEmail"
              v-model="form7RegisterEmail"
              wrapperClass="mb-4"
            />
            <!-- Password input -->
            <MDBInput
              type="password"
              label="Password"
              id="form7RegisterPassword"
              v-model="form7RegisterPassword"
              wrapperClass="mb-4"
            />
            <!-- Submit button -->
            <button  type="button" @click='reg' class="btn">
              Sign in
            </button>
          </form>
        </MDBTabPane>
      </MDBTabContent>
      <!-- Tabs content -->
    </MDBTabs>
  </div>
      <router-view />
  </div>
</template>

<script>
console.log("LoginView.vue");
import NavBar from '@/components/NavBar.vue'

export default {
  name: 'HomeView',
  components: {
    NavBar
  },
  data(){
    return {
      isLogged : localStorage.getItem('token') != null,
      form7ActiveTab : ref("form7-login"),
      form7LoginUsername : ref(''),
      form7LoginPassword : ref(''),
      form7RegisterUsername : ref(''),
      form7RegisterEmail : ref(''),
      form7RegisterPassword : ref(''),
      errorLogin: null,
      errorRegister: null,
    }
  },
  methods: {
    log() {
      login(form7LoginUsername.value, form7LoginPassword.value).then(
        (response) => {
          if (response.sucess == true) {
            console.log("Sucess");
            router.push({ path: '/'})
          }
        }
      ).catch((error) => {
        console.log(error)
        this.errorLogin = "Wrong username or password"
      })
    },
    reg() {
      console.log("Register")
      newUser = {
        username: form7RegisterUsername.value,
        email: form7RegisterEmail.value,
        password: form7RegisterPassword.value,
      }
      try {
        register(newUser).then((response) => {
          console.log(response)
        })
      } catch (error) {
        console.log(error)
        this.errorRegister = "Username already exists"
      }

      
    }
  },
}
</script>

<script setup>
import router from '@/router';
import store  from "@/store/index.js"
import { login, register } from "@/services/userService.js"
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import {
    MDBInput,
    MDBCheckbox,
    MDBTextarea,
    MDBBtn,
    MDBTabs,
    MDBTabNav,
    MDBTabContent,
    MDBTabItem,
    MDBTabPane,
    MDBIcon,
    MDBCol,
    MDBRow,
  } from "mdb-vue-ui-kit";
import { computed } from 'vue';
</script>

<style scoped>
  .container {
    margin-top: 5%;
    width: 40%;
  }

  .alert {
  line-height: 1.8;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
}

.btn{
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 5px;
  border: #e09d51;
  background-color: #e09d51;
  color: white;
  width: 100%;
}
</style>

