<template>
  <div>
  <div v-if="isLogged">
      <NavBar :isLogged="isLogged"/>
      <div class="container">
        <img src="/logo.png" class="logo" alt="..." />
        <MDBInput label="Username" type="text" v-model="username"/>
        <MDBInput label="Email" type="email" v-model="email"/>
        <MDBInput label="Password" type="password" v-model="hgvy" />
        <MDBBtn  type="button" @click='updateUser' block class="mb-3" style="background-color: #7cb269; color: white;">
          Update infos
        </MDBBtn>
        <MDBBtn  type="button" @click='logout' block class="mb-3" style="background-color: #bf433a; color: white; margin-top: 20%;">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </MDBBtn>
      </div>
    </div>
    <div v-else>
      <NavBar :isLogged="false"/>
        <h1>Your are not logged in</h1>
    </div>
    <router-view />
  </div> 
</template>

<script setup>
import {
    MDBInput,
    MDBBtn
  } from "mdb-vue-ui-kit";
</script>

<script>
console.log("Hello from ProfilView.vue");
import NavBar from '@/components/NavBar.vue'
import router from '@/router'
import store  from "@/store/index.js"
import { ref } from 'vue'
import { updateUserInDB,} from "@/services/userService.js";

store.dispatch('getUserInfo')

export default {
  name: 'ProfilView',
  components: {
    NavBar
  },
  data(){
    return {
      isLogged : localStorage.getItem('token') != null,
      username : ref(store.state.username,),
      email : ref(store.state.email),

    }
  },
  methods: {
    logout(){
      store.dispatch('logout')
      router.push({ path: '/'})
    },
    updateUser(){
      const newUser = {
        username: newUsername.value,
        email: newEmail.value,
        password: newPassword.value
      };
      updateUserInDB(store.state.id, newUser);
    },
  }
}





console.log(store.state.username)

</script>

<style scoped>
.container{
    margin-top: 5%;
    width: 40%;
    padding: 0 10% 0 10%; ;
}

.logo{
  margin: 10% 20% 10% 20%;
  padding: 2%;
  width: 60%;
  height: 200px;
  border-radius: 50%;
}

h1 {
  margin-top: 10%;
  text-align: center;
  font-size: 50px;
}
</style>

